@import "lib/reset";
@import "lib/variables";
@import "lib/placeholders";
@import "lib/mixin";
@import "lib/layout";
@import "lib/components";

html,
body {
  height: 100%;
  font-family: $font;
}

body {
  position: relative;
  color: $grey05;
  width: 100%;
}

#app {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  @extend %flexCenter;

  &:after {
    @extend %void;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;
  }
}

.cover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(img/bg.png);
  @extend %bgImage;
}

.checkerboard {
  margin: 0 auto;
}

.sortable-ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.banner-author {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #888;
  z-index: 1;
}

// snow
body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1.5s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      @if $i%4 == 3 {
        background: #fff5c2;
      }

      @if $i%4 == 2 {
        background: #8bd8ff;
      }

      @if $i%4 == 1 {
        background: #ffa6ce;
      }
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
