<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cache-control" content="public">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="author" content="Ann">
    <meta name="copyright" content="Ann">
    <meta name="distribution" content="Taiwan">

    <meta name="url" content="https://ann5509.github.io/bingo">
    <meta name="description" content="Fight for your christmas present.">

    <meta itemprop="name" content="Let's Bingo Bingo.">
    <meta itemprop="description" content="Fight for your christmas present.">
    <meta itemprop="image" content="img/opengraph.jpg">

    <meta property="og:site_name" content="Let's Bingo Bingo.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Let's Bingo Bingo.">
    <meta property="og:url" content="https://ann5509.github.io/bingo">
    <meta property="og:description" content="Fight for your christmas present.">
    <meta property="og:image" content="img/opengraph.jpg">
    <meta property="og:image:alt" content="Fight for your christmas present.">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="262">

    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="bookmark" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="preload" as="font">

    <title>Let's Bingo Bingo!!</title>
</head>

<body>
    <div class="cover-bg">
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
    </div>

    <div id="app">
        <div class="setting_wrap" v-show="status.settings">
            <h2 class="setting_title">Let's Bingo Bingo!</h2>

            <div class="setting_form">
                <label class="setting_label" for="">
                    <span>人數</span>
                    <input class="setting_input" type="number" min="1" v-model.number="settings.people">
                </label>
                <label class="setting_label" for="">
                    <span>順序</span>
                    <input class="setting_input" type="number" min="1" :max="settings.people"
                        v-model.number="settings.order">
                </label>
                <label class="setting_label" for="">
                    <span>乘數</span>
                    <input class="setting_input" type="number" min="1" max="6" v-model.number="settings.multiplier">
                </label>
                <label class="setting_label" for="">
                    <span>連線</span>
                    <input class="setting_input" type="number" min="1" max="6" v-model.number="settings.line">
                </label>
            </div>

            <div class="setting_ctrl">
                <button class="btn btn-green" @click="setCheckerboard">GO</button>
            </div>
        </div>

        <div id="playground_wrap" class="playground_wrap" v-show="!status.settings">
            <div class="playground_ctrl">
                <button class="btn btn-shuffle" @click="backToPrevStage" v-show="!status.startGame">&lt; Back</button>
                <span class="playground_title" v-show="status.startGame">Round {{record.round}}</span>
            </div>
            <div class="playground_container">
                <draggable class="playground_bingo" ghost-class="ghost" :options="{disabled: status.startGame}">
                    <transition-group name="playground" tag="div" class="checkerboard">
                        <span v-for="item in settings.checkerBoard" v-bind:key="item" class="playground-item"
                            @click="itemActived($event)" :data-num="item+1">
                            {{ item+1 }}
                        </span>
                    </transition-group>
                </draggable>
                <transition name="fade">
                    <div class="playground_record" v-if="status.startGame">
                        <div class="record_list">
                            <div class="record_item" v-for="(item, i) in settings.people"
                                :class="{active: record.nowPlayer == i+1}">
                                <span class="record_player" v-if="settings.order !== i+1">P{{i+1}}</span>
                                <span class="record_player" :class="{my:settings.order == i+1}" v-else>Me</span>
                                <span class="record_number" v-text="renderRecord(record.game[i])"></span>
                            </div>
                        </div>
                        <div class="record_info" v-show="status.startGame">
                            <p class="record_line">You Get
                                <span>{{record.checked}}</span> Lines
                            </p>
                            <p class="record_win" v-show="record.checked == settings.line">Congratulations</p>
                            <button class="btn btn-red" @click="resetGame" v-show="record.checked == settings.line">Play
                                Again</button>
                        </div>
                    </div>
                </transition>
            </div>
            <div class="playground_startgame">
                <button class="btn btn-yellow" @click="shuffle" v-show="!status.startGame">Random</button>
                <button class="btn btn-red" @click="setGameStart" v-show="!status.startGame">Ready !!</button>
            </div>
        </div>
    </div>

    <a href="https://www.freepik.com/free-photos-vectors/banner" class="banner-author">Banner vector created by starline
        - www.freepik.com</a>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.1/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/15.0.0/vuedraggable.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                status: {
                    settings: true,
                    startGame: false
                },

                settings: {
                    people: 5,
                    order: null,
                    multiplier: 5,
                    line: 3,
                    checkerBoard: []
                },

                record: {
                    game: {},
                    choosenNum: [],
                    cornerLeftNum: [],
                    cornerRightNum: [],
                    round: 1,
                    nowPlayer: 0,
                    checked: 0
                }
            },
            methods: {
                randomIndex: function () {
                    return Math.floor(Math.random() * this.items.length)
                },

                shuffle: function () {
                    this.settings.checkerBoard = _.shuffle(this.settings.checkerBoard);
                    var $items = document.querySelectorAll('.list-complete-item');

                    $items.forEach(function (el, i) {
                        el.classList.remove('clicked');
                    })
                },

                itemActived: function (item) {
                    var that = this;
                    this.$nextTick(() => {
                        if (that.status.startGame && item.target.getAttribute('class').indexOf('clicked') == -1) {
                            item.target.classList.add('clicked');
                            var $els = document.querySelectorAll(".playground-item");
                            var dataNum = item.target.getAttribute('data-num');

                            $els.forEach(function (el, i) {
                                if (el.getAttribute('data-num') == dataNum) {
                                    that.setRecord(i);
                                    that.runBingo(i);
                                }
                            });
                        }
                    });
                },

                setCheckerboard: function () {
                    var multiplier = this.settings.multiplier * this.settings.multiplier;
                    this.settings.checkerBoard = Array.apply(null, { length: multiplier }).map(Function.call, Number);

                    var $el = document.querySelector('.checkerboard');
                    $el.style.width = this.settings.multiplier * 60 + 'px';

                    this.status.settings = false;
                    this.setCornerNumber(this.settings.multiplier);
                },

                backToPrevStage: function () {
                    this.status.settings = true;
                    this.status.startGame = false;
                },

                setGameStart: function () {
                    this.status.startGame = true;
                },

                setRecord: function (number) {
                    this.record.nowPlayer = this.record.nowPlayer + 1;

                    if (this.record.nowPlayer > this.settings.people) {
                        this.record.nowPlayer = 1;
                        this.record.round += 1;
                    }

                    if (!this.record.game[this.record.nowPlayer - 1]) {
                        this.record.game[this.record.nowPlayer - 1] = [number];
                    } else {
                        this.record.game[this.record.nowPlayer - 1].push(number);
                    }

                    this.record.choosenNum.push(number);
                },

                renderRecord: function (arr) {
                    var text = '';

                    if (arr && arr.length) {
                        text = arr.join(', ');
                    }

                    return text;
                },

                setCornerNumber: function (lineLen) {
                    this.record.cornerLeftNum = [];
                    this.record.cornerRightNum = [];

                    // 左斜
                    var startIndex = 0;
                    this.record.cornerLeftNum.push(startIndex);
                    for (var i = 1; i < lineLen; i++) {
                        this.record.cornerLeftNum.push(startIndex + (lineLen + 1) * i)
                    }

                    // 右斜
                    var endIndex = lineLen - 1;
                    this.record.cornerRightNum.push(endIndex);
                    for (var i = 1; i < lineLen; i++) {
                        this.record.cornerRightNum.push(endIndex + (lineLen - 1) * i)
                    }
                },

                runBingo: function (number) {
                    var clickIndex = number;
                    var lineLen = this.settings.multiplier;
                    var cornerLeftNum = this.record.cornerLeftNum;
                    var cornerRightNum = this.record.cornerRightNum;
                    var indexFloor = Math.ceil((number + 1) / lineLen);
                    var rowArr = [];
                    var colArr = [];

                    // 橫 row
                    var lineHeadIndex = (indexFloor - 1) * lineLen;

                    var lineFooterIndex = lineHeadIndex + lineLen - 1;

                    for (var i = lineHeadIndex; i <= lineFooterIndex; i++) {
                        if (number !== i) {
                            rowArr.push(i);
                        }
                    }

                    this.checkIfBingo(rowArr, clickIndex);

                    // 直 col
                    var linePos = indexFloor * lineLen - number;

                    for (var i = 1; i <= lineLen; i++) {
                        if (indexFloor !== i) {
                            colArr.push((lineLen * i - linePos));
                        }
                    }

                    this.checkIfBingo(colArr, clickIndex);

                    // check corner
                    if (cornerLeftNum.indexOf(clickIndex) !== -1) {
                        this.checkIfBingo(cornerLeftNum, clickIndex);
                    }

                    if (cornerRightNum.indexOf(clickIndex) !== -1) {
                        this.checkIfBingo(cornerRightNum, clickIndex);
                    }
                },

                checkIfBingo: function (numArr, clickIndex) {

                    this.$nextTick(() => {
                        var $els = document.querySelectorAll(".playground-item");
                        var checked = true;

                        numArr.forEach(function (el, i) {
                            if ($els[el].getAttribute('class').indexOf('clicked') == -1) {
                                checked = false;
                            }
                        });

                        if (checked) {
                            this.record.checked += 1;
                        }
                    });

                },

                resetGame: function () {
                    this.record.game = {};
                    this.record.choosenNum = [];
                    this.record.cornerLeftNum = [];
                    this.record.cornerRightNum = [];
                    this.record.round = 1;
                    this.record.nowPlayer = 0;
                    this.record.checked = 0;

                    this.status.settings = false;
                    this.status.startGame = false;
                    var $els = document.querySelectorAll(".playground-item");

                    $els.forEach(function (el, i) {
                        el.classList.remove('clicked');
                    });
                }

            },
            created: function () {

            }
        })

    </script>
</body>

</html>